<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar position-fixed" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                
                
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="~/Home/Index"
                       aria-expanded="false">
                        <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Accueil</span>
                    </a>
                </li>
                
                <!--
                    Visites
                -->

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-receipt"></i><span class="hide-menu">Visites </span>

                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <!--
                        <li class="sidebar-item">
                            <a href="~/Visite/CreerVisite" class="sidebar-link">
                                <i class="mdi mdi-note-outline"></i><span class="hide-menu"> Saisie des visites </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="~/Visite/ListeVisite" class="sidebar-link">
                                <i class="mdi mdi-note-outline"></i><span class="hide-menu"> Liste des Visites </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-wizard.html" class="sidebar-link">
                                <i class="mdi mdi-note-plus"></i><span class="hide-menu"> Fonctionnalit </span>
                            </a>
                        </li>
                        -->   

                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-note-plus-outline"></i><span class="hide-menu">Enregistrement</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-calendar-clock"></i><span class="hide-menu">Planification</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-filter-remove-outline"></i><span class="hide-menu">Liste Noire</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-key-plus"></i><span class="hide-menu">Attribution de clés</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-coffee-outline"></i><span class="hide-menu">Réception</span></i>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-content-paste"></i><span class="hide-menu">Historique de Visites</span>
                            </a>
                        </li>

                    </ul>
                </li>
                
                
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="~/Home/Modele"
                       aria-expanded="false">
                        <i class="mdi mdi-chart-bar"></i><span class="hide-menu">Reporting</span>
                    </a>
                </li>
               
                
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-account-key"></i><span class="hide-menu">Sécurité </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="authentication-login.html" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Profils </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="authentication-register.html" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Privilèges Utilisateurs </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="authentication-register.html" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Traçabilité </span>
                            </a>
                        </li>

                    </ul>
                </li>
                 
                
               

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dar sidebar-linkk"
                       href="~/Home/GetParamètres"
                       aria-expanded="false">
                        <i class="mdi mdi-pencil-box-outline"></i><span class="hide-menu">Paramétrage</span>
                    </a>
                </li>
               




                
               


                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-account-key"></i><span class="hide-menu">Pages modeles </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="~/Home/Modele" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Graphique </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="~/Home/Formulaire" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu">Formulaire </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="~/Home/Pageexemple" class="sidebar-link">
                                <i class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Page exemple </span>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="sidebar-item p-3">
                    <a href="https://github.com/wrappixel/matrix-admin-bt5"
                       target="_blank"
                       class="
                    w-100
                    btn btn-cyan
                    d-flex
                    align-items-center
                    text-white
                  ">
                        <i class="mdi mdi-cloud-download font-20 me-2"></i>Aide
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
